<% provide(:title, "Posts by #{@user.email}") %>

<h1>Posts by <%= @user.email %></h1>

<% if @posts.any? %>
  <ul>
    <%= render @posts %>
  </ul>
  <%= will_paginate @posts %>
<% else %>
  <p>This user has not posted any posts yet</p>
<% end %>

<%= render 'follow_form' %>
