<li>
<%= link_to truncate(post.body, length: 35), post %> by <%= post.user.username.capitalize %>
<% if on_your_posts_page? %>
  - <%= link_to 'EDIT', edit_post_path(post) %>
<% end %>
  - (<%= pluralize(post.comments.count, 'comment') %>)
</li>
