<% provide(:title, "Posts") %>
<div id="submit-post">
  <h1>Submit post</h1>

  <% if logged_in? %>
    <%= render 'post_form' %>
  <% else %>
    <p>Please login to submit post</p>
  <% end %>

</div><!-- end submit-post -->
