<% provide(:title, "Posts") %>

<div id="posts">
  <% if @posts.any? %>
    <ul><%= render @posts %></ul>
    <%= will_paginate %>
  <% else %>
    <p>No posts have been submitted</p>
  <% end %>
</div><!-- end posts -->
