<% provide(:title, "Posts") %>

<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<div id="tag_cloud">
  <% tag_cloud Post.origin_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, origin_path(tag.name), class: css_class %>
  <% end %>
</div>

<div id="posts">
  <% if @posts.any? %>
    <ul><%= render @posts %></ul>
    <%= will_paginate %>
  <% else %>
    <p>No posts found</p>
  <% end %>
</div><!-- end posts -->
