<% provide(:title, 'Search Results') %>
<h1>Search Results</h1>

<% if @posts.any? %>
  <ul><%= render @posts %></ul>
  <%= will_paginate %>
<% else %>
  <p>Nothing found, please try a different search<p>
<% end %>
